$paddingAbout: 50px;

@mixin aboutPage {
	@include outer-container;
  	max-width: 1000px;
}

#about {
  
  .title {
  	opacity: 0;
  	@include translateZScale(50px, translateY(120px));
  	@include aboutPage;
  }

  .desc {
  	@include aboutPage;
  	@include translateZScale(20px, translateY(60px));
  	font-size: 24px;
  	text-align: justify;
  	color:$blue2;
  	opacity: 0;
  }

  .resumeLink {
  	opacity: 0;
  	@include translateZScale(40px, translateY(50vh) translateX(100vw));
  	padding: $paddingAbout 20vw $paddingAbout;
  	text-align: right;
  	font-size: 30px;

  	a {
  		color: $white;
  		background: $blue;
  		padding:10px;
  	}
  }

  &:hover {
  	.title {
  		opacity: 1;
  		@include translateZScale(40px, translateY(-120px));
  	}

		.desc {
  		opacity: 1;
		}

	  .resumeLink {
	  	opacity: 1;
			@include translateZScale(40px, translateY(50vh) translateX(-20vw));
	  }
	}
}