@include keyframes(sended) {
    $height: 350px;
    0% {
      background: $black;
      color: rgba(0, 0, 0, 0.1);
      text-indent: -100px;
    }
    50%  {
      width: 100%;
      @include transform(translateY(0));
    }
    75% {
      width: 100%;
      height: $height;
      @include transform(translateY(-$height));
      border-color: $white;
      color: rgba(0, 0, 0, 0.1);
      font-size: 0px;
    }
    100% {
      width: 100%;
      height: $height;
      font-size: 37px;
      @include transform(translateY(-$height));
      color: $green;
      border-color: $green;
      background: $black;
    }
}

#contact {
  @include linear-gradient($black, #000);
  position: relative;

  .content {
    position: relative;
    width: 900px;
    padding: 50px 0;
    margin: auto;

    > div {
      margin: 50px 0;
    }
  }

  .title {
    h2 {
      color:$white;
      text-shadow: 1px 1px 10px #000;
      font-size: 55px;
    }
  }

  .social {
    a {
      font-size: 50px;
      margin-right: 20px;

      &.twitter {
        color:#55ACEE;
      }

      &.github {
        color:#000;
      }

      &.linkedin {
        color:#1683BC;
      }
    }
  }

  &::before {
    content: " ";
    @include triangle(50vw 100px, $black, down-left);
    position: absolute;
    top:-100px;
  }

  &::after {
    content: " ";
    @include triangle(50vw 100px, $black, down-right);
    position: absolute;
    top:-100px;
    right: 0;
  }
}

#contactForm {
  $width: 100%;
  position: relative;
  width: $width;
  font-size: 20px;
  line-height: 35px;
  color: $white;

  >div {
    width: $width;
  }

  label {
    @include inline-block();
    background: rgba(230, 230, 230, .1);
    padding: 10px;
    height: 50px
  }

  .myMail {
      @include inline-block();
      background: none;
      border: 0;
      border-bottom: 4px solid $white;
      color: $white;
      font-size: 20px;
      line-height: 25px;
      height: 40px;
      padding: 5px 10px;
      width: calc(#{$width} - 45px);

      &:focus {
        outline: none;
        border-color: $blue;
      }
  }

  .to {
    width: $width;

    label {
      width:45px;
    }
  }

  .from {
    width: $width;
    margin: 20px 0;

    label {
      width:66px;
    }

    input {
      @extend .myMail;
      width: calc(#{$width} - 66px);

      &:focus {
        outline: none;
      }
    }
  }

  .msg {
    textarea {
      @extend .myMail;
      border: 4px solid $white;
      width: $width;
      height: 200px;
      padding: 10px;
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }

  .button {
    text-align: right;

    button {
      @extend .myMail;
      width: 100px;
      border: 4px solid $white;
      cursor: pointer;

      &:hover {
        border-color: $blue;
      }
    }

    &.error {
      button {
        width: 100%;
        border-color: red;
        color:red;
      }
    }

    &.success {
      button {
        @include animation(sended 1.0s ease-in);
        @include animation-fill-mode(forwards);
      }
    }
  }
}