@import "bourbon";
@import "neat";

$blue: #0092D5;
$blue2: #1C4B8C;
$white: #FFF;
$white2: #CBCBCB;
$black: #222;
$green: #60F411;

$perspective: 100px;

@mixin translateZScale($z, $rest:translateX(0)) {
	@include transform(translateZ($z) scale(1 + ($z * -1) / $perspective) $rest);
}

* {
  padding: 0;
  margin: 0;
  font-family: Avenir, sans-serif;
}