$pictureWidth: 30vw;
$descWidth: 60vw;

@include keyframes(pictureShow) {
  from {
    @include transform(translateZ(100px));
  }
  to {
   @include transform(translateZ(0));
  }
}

@include keyframes(descShow) {
  from {
    @include transform(translateX(800px));
  }
  to {
   @include transform(translateX(0));
  }
}


#me {
	@include linear-gradient($blue2, $blue);
	@include animation(fadeIn .5s);

	.slide:nth-child(1) {
		@include animation(pictureShow .5s);
		z-index: 99;

		.picture {
			width: $pictureWidth;
			padding:20vh 1vw 0 0;

			.content {
				@include transform(rotate(-5deg));
				background: $white;
				padding: 10px 0 100px;
				text-align: center;
				width: 370px;
				color:$black;
				font-size: 200%;
				margin-left: 10vw;

				a {
					color:$black;
				}
			}
		}
	}

	.slide:nth-child(2) {
		pointer-events: none;
		@include translateZScale(50px);
		@include animation(descShow .5s);

		.desc {
			width: $descWidth;
			color: $white;
			text-shadow: 1px 1px 10px $blue;
			font-size: 7vw;
			float: right;

			p:nth-child(2) {
				font-size: 150%;
				font-weight: bold;
				color: $blue2;
				text-shadow: 1px 1px 1px $white;
			}
		}
	}


	&::after {
		content:" ";
		display: block;
		background:$white;
		width: 150vw;
		height: 350px;
		position: absolute;
		left: -20vw;
		bottom: -100px;
		z-index: -1;
		@include transform(rotate(-5deg));
	}
}
