@import "resumePrint";

#resume {
  @include linear-gradient($blue, $blue2);
  height: auto;

  .title {
  	@include outer-container;
  	@include translateZScale(40px, translateY(200px));

  	h2 {
  		color: $white;
  		text-shadow: 1px 5px 5px $blue2;
  	}
  }

  &::before {
  	content: " ";
		@include triangle(100vw 200px, $white, up-left);
		position: absolute;
		top:0px;
  }
}

.resume {
 	@include outer-container;
	@include translateZScale(50px, translateY(200px));
	padding: 40px;

	h1, h2 {
    margin: 30px 0;
    font-size: 200%;
  }

  .links {
    display: none;
  }

  .work {
	  margin-top: 20px;

	  .line {
      padding: 10px;
      margin: 20px 0;
    }

    .description {
      margin-top: 20px;

      .tags {
	      li {
	        padding: 5px 10px;
	        margin: 5px;
	      }
	    }
    }
	}
}