.resume {
	  background: $white;

	  h1, h2 {
	    color: $blue;
	    font-weight: normal;
	  }

	  .head {
	  	.links {
	  		float: left;
	  		margin-top: -50px;
	  	}

	  	.control {
	  		text-align: right;
	  		float: right;
	  	}

	    a {
	      margin-right: 20px;
	      color: $blue2;
	      font-size: 160%;
	    }
	  }

	  .work {
	    @include span-columns(12);

	    .line {
	      @include span-columns(12);

	      &:nth-child(odd) {
	        background: rgba(1, 1, 1, 0.1);
	      }
	    }

	    .date {
	      @include span-columns(2);
	      min-height: 50px;
	    }

	    .role {
	      @include span-columns(8);
	    }

	    .description {
	      @include span-columns(10);
	      text-align: justify;

	      .tags {
		      @include span-columns(12);
		      font-style: italic;
		      text-align: left;
		      margin-top: 10px; 

		      li {
		        background: $blue;
		        border-radius: 5px 0px;
		        text-align: center;
		        display: inline-block;
		        color:#FFF;
		      }
		    }
	    }
	  }

	  .skills {
	    @include span-columns(12);

	    li {
	      @include span-columns(3);
	      @include omega(4n);
	    }
	  }

	  .education {
	    @include span-columns(12);

	  }

	  .languages {
	    @include span-columns(12);
	  }

	  .interests {
	    @include span-columns(12);
	  }
	}