
@import "default";
@import "resumePrint";

* {
	font-size:12px;
}

#menu, #me, #about, #contact {
	display:none;
}

#resume {
	padding: 80px 20px 0;
	position:relative;

	&:before {
		content: "Florian Pereira";
		display: block;
		font-size: 25px;
		color: $blue2;
		position: absolute;
		top:0;
		left: 20px;
	}

	.resume {
		position: relative;
	}

	.title, .head .control {
		display: none;
	}

	h2 {
    margin: 10px 0;
    font-size: 21px;
  }

  .work {
	  margin-top: 5px;

	  .line {
      padding: 0 5px;
      margin: 15px 0 ;
    }

    .description {
      margin-top: 5px;
      line-height: 12px;

      .tags {
	      li {
	        padding: 0;
	        margin: 0 5px 0 0;
	      }
	    }
    }
	}

	.languages, .interests {
	  @include span-columns(6);
	}
}

