@import "default";
@import "animation";
@import "me";
@import "about";
@import "resume";
@import "contact";

* {
  @include transition(.5s);
}

a {
  text-decoration: none;
}

html, body {
  @include span-columns(12);
  height: 100vh;
}

.page {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  @include perspective($perspective);
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &>h2 {
    font-size: 60px;
    color: $blue2;
  }
}

.part {
  position: relative;
  height: 100vh;
  @include transform-style(preserve-3d);
}

#menu {
  display: none;
}